
/*mypage에 적용하기 위한 css*/


/*전체 구성영역 레이아웃*/
section{height:1000px; margin: 0px auto; margin-top: 20px;}

/*mypage_total*/
div#mypage_total{width:1000px; margin: margin-top: 30px;}


/*mypage 부분영역*/
div#mypage_top{height: 200px; align-content: center;}
div#mypage_top > div{float: left;}]

/*profile_edit*/
div.edit_profile{width: 200px; height: 200px;}
div.edit_profile > img{ width:200px; border-radius: 100px;}

/*유저정보 상단*/
div#uinfo{position: relative; margin-left: 50px; margin: 0px auto; }
div#uinfo_top{height: 9px;}
div#uinfo_top > div{float:left; margin: 10px;}
div#uinfo_bottom{height:90px;}
dif#uinfo_bottom > div{float: left; margin: 10px;}

/*채택, 팔로워, 팔로잉*/
div.sel_count{ width:100px; height:100px;  background-color: orange;
div.follwer_count{ width:100px; height:100px; background-color: purple;}
div.following_count{ width:100px; height:100px; background-color: aqua;}


/*마이페이지 하단*/
div#mypage_bottom{ margin-top: 50px; text-align: center;}
div#mypage_bottom > div{float: left; margin: 10px;}


/*이미지 버튼*/
div.s_box1{	
	background: url( "resources/images/mypage/s_box1.png.png" ) no-repeat;
        border: none;
        cursor: pointer;	
}


 