/*전체 구성요소 설정*/
 section{width: 1000px; margin: 0 auto; height: 1500px;}
 
 /*상세보기 상단 프로필 아이디, 날짜*/
 .top > div{float: left; margin-bottom: 5px;} 
 
 /*말머리, 제목 공간*/
 .mtitle > div{float: left;}
 
 /*일단 상단 프로필이랑 3개 버튼 마진 주기*/
 .toptable > td {margin-right: 5px;}
 
 /*중고거래 상세 보기에 등록한 이미지*/
 .productD_img{width: 300px;}
 .productD_img > img{ max-width: 100%; height: auto !important;}
 
 /*게시글 제목 글씨 조정*/
 #title_font{font-size: 20px;}
 
 /*중고거래 상세 보기 > 댓글 작성자 프로필 사진*/
 .productR_img{width: 30px; height: 30px; margin-right: 800px;}
 .productR_img > img{max-width:100%; border-radius: 15px;}
 
 /*하단 댓글 날짜 아이디*/
 .bottom > div {float: left;}

/*로그인 한 사람의 아이디 출력 공간*/
.replyW > div{float: left;}

/*댓글 작성이랑 댓글출력되는 테이블의 제목 공간*/
/*.insert_title > div{float: left; margin-bottom: 10px;}*/
.replyWrite > div{float: left; margin-bottom: 10px;}

 /*댓글 작성하는 공간*/
 .replyWrite > div{float: left;}
 
 /*댓글 리스트 출력*/
 th {
	background-color: #f5f5f5
}
 