/*전체 구성요소 설정*/
 section{width: 1000px;height: 2000px;}
 
 /* 상품 등록하기 버튼*/
 .add_btn{align-items: right;}
 
 /*상품 게시글 리스트 정렬*/
 .product_list{width:1000px; height: 1000px;}
  .product_list > div{float: left;}
 
 /*상품 게시글 하나의 이미지 크기 조절*/
 .product_img{width: 200px; height:350px; margin-right: 50px; margin-bottom: 20px;}
 .product_img > img{ max-width: 100%; height: auto !important;}
 
 /*게시글 말머리 공간*/
 #head{width: 100px;}