<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.closet.great.dao.ProductDao">

	<!-- 상품 게시글 쓰기 
	<insert id="writeInsert" parameterType="product">
	INSERT INTO DEALBOARD (db_num, db_title, db_content, db_cate, db_sid, db_price) 
	VALUES (DEALBOARD_SEQ.NEXTVAL, #{db_title}, #{db_content}, default, #{db_sid},#{db_price})
	</insert>-->
	
	<insert id="writeInsert" parameterType="product" useGeneratedKeys="true" keyProperty="db_num">
	<selectKey keyProperty="db_num" resultType="int" order="BEFORE">
		SELECT DEALBOARD_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	<![CDATA[INSERT INTO DEALBOARD VALUES 
	(#{db_num}, #{db_title}, #{db_content}, default, default, default, #{db_sid},#{db_price}, default)]]>
	</insert>
	
	<!-- 파일 추가 -->
	<insert id="fileInsert" parameterType="HashMap">
		INSERT INTO DEALBOARD_IMG VALUES (DEALBOARD_IMG_SEQ.NEXTVAL, #{dbi_sysName}, #{dbi_oriName}, #{db_num})
	</insert>
	 
	<!-- 상품 메인 리스트 출력 -->
	<select id="getProductList" resultType="product" parameterType="int">
		<![CDATA[SELECT * FROM DLIST_1 WHERE DROWNUM>=#{num}*10-9
		 AND DROWNUM<=#{num}*10]]>
	</select>
	
	<select id="getProductCount" resultType="int">
		SELECT COUNT(*) FROM DLIST_1
	</select>
	
	<!-- 상품 게시글 상세보기 -->
	<select id="getDetail" resultType="product" parameterType="int">
		SELECT * FROM DLIST WHERE DB_NUM=#{DB_NUM}
	</select>
	
	<!-- 상세보기 시 파일 리스트 -->
	<select id="getPfList" parameterType="int" resultType="productImg">
		SELECT * FROM DEALBOARD_IMG WHERE DBI_DBNUM=#{db_num}
	</select>
	
	<!-- 게시글 삭제 시 첨부된 전체 파일 삭제 -->
	<delete id="productF_deleteA" parameterType="Integer">
		DELETE FROM DEALBOARD_IMG WHERE DBI_DBNUM=#{db_num}
	</delete>
	
	<!-- 상품 게시글 삭제(작성자, 관리자) -->
	<delete id="productDelete" parameterType="Integer">
		DELETE FROM DEALBOARD WHERE DB_NUM=#{DB_NUM}
	</delete>
	
	<!-- 상품 게시글 수정(작성자, 관리자) -->
	<update id="writeUpdate" parameterType="product">
		UPDATE DEALBOARD SET DB_TITLE=#{db_title}, DB_CONTENT=#{db_content}, 
		DB_VIEWS=#{db_views}, DB_SID=#{db_sid}, DB_PRICE=#{db_price},
		DB_COMPLAIN=#{db_complain} WHERE DB_NUM=#{db_num}
	</update>
	
	<!-- 상품 게시글 댓글 추가 -->
	<insert id="productR_insert" parameterType="productReply">
		INSERT INTO DEALBOARD_REPLY VALUES 
		(DEALBOARD_REPLY_SEQ.NEXTVAL, #{dbr_content}, default, #{dbr_complain}, 
		#{dbr_dbnum}, #{dbr_sid})
	</insert>
	
	<!-- 상품 게시글 댓글 리스트 출력 -->
	<select id="getPReplyList" parameterType="int" resultType="productReply">
		SELECT * FROM DEALBOARD_REPLY WHERE DBR_DBNUM=#{db_num}
	</select>
	
	<!-- 댓글 삭제를 위한 게시글 번호 가져오기 -->
	<select id="getBnum" parameterType="Integer" resultType="int">
		SELECT DBR_DBNUM FROM DEALBOARD_REPLY WHERE DBR_NUM=#{no}  
	</select>  
	
	<!-- 상품 게시글 댓글 삭제 -->
	<delete id="productR_delete" parameterType="Integer">
		DELETE FROM DEALBOARD_REPLY WHERE DBR_NUM=#{no}
	</delete>
	
	<!-- 게시글 삭제 시 댓글 전체 삭제 -->
	<delete id="productR_deleteA" parameterType="Integer">
		DELETE FROM DEALBOARD_REPLY WHERE DBR_DBNUM=#{dbr_dbnum}
	</delete>
	
	
	<!-- 조회수 증가 -->
	<update id="Pviews">
		UPDATE DEALBOARD SET DB_VIEWS = DB_VIEWS + 1 WHERE DB_NUM=#{db_num}
	</update>
	
	<!-- 게시글의 댓글 갯수 구하기
	<select id="getBoardCnt">
		SELECT COUNT(*) FROM DEALBOARD_REPLY WHERE DBR_DBNUM=#{dbr_dbnum}
	</select> -->
	
	
	
</mapper>